{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="invoice-page">

    {% include "components/erp_list_header.html" %}

    <div class="invoice-table-container">
        <table class="invoice-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox"class="select-checkbox">Supplier </th>
                    <th>
                        Bill No
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Reference No
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>
                        {{ expense.name }}
                    </td>
                    <td>
                        {{ expense.reference }}
                    </td>
                    <td>
                        {{ expense.date }}
                    </td>
                    <td>
                        {{ expense.category }}
                    </td>
                    <td>
                        {{ expense.amount }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="empty">
                        No expenses found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}