{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="invoice-page">
    {% include "components/erp_list_header.html" %}
<div class="invoice-table-container">
    <table class="invoice-table">
        <thead>
            <tr>
                <th>
                    <input 
                        type="checkbox"
                        class="select-checkbox"
                        onclick="event.stopPropagation();">Product Name</th>
                <th>Finished Goods</th>
                <th>Raw Materials</th>
                <th>By Products</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>
                    <input 
                        type="checkbox"
                        class="row-checkbox"
                    >
                    {{ bill.product_name }}
                </td>
                <td>{{ bill.finished_goods }}</td>
                <td>{{ bill.raw_materials }}</td>
                <td>{{ bill.by_products }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="empty">
                    No Data found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

