{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="invoice-page">
    {% include "components/erp_list_header.html" %}
<div class="invoice-table-container">
    <table class="invoice-table">
        <thead>
            <tr>
                <th>
                    <input 
                        type="checkbox"
                        class="select-checkbox"
                        onclick="event.stopPropagation();">Date</th>
                <th>Entry No</th>
                <th>Reference</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for adjust in adjusts %}
            <tr>
                <td>
                    <input 
                        type="checkbox"
                        class="row-checkbox"
                    >
                    {{ adjust.date }}
                </td>
                <td>{{ adjust.entry_no }}</td>
                <td>{{ adjust.reference }}</td>
                <td>{{ adjust.amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="empty">
                    No Data found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

