{% extends "layouts/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product-category.css' %}">
{% endblock %}


{% block content %}

{% include "components/erp_list_header.html" %}


<table class="invoice-table">

    <thead>
        <tr>
            <th>
                <input
                    type="checkbox"
                    class="row-checkbox"
                    id="name-checkbox">

                Name
            </th>

            <th>
                Parent
            </th>
        </tr>
    </thead>


    <tbody>
        {% for category in categories %}
        <tr class="general-row">
            <!-- General under Name -->
            <td>
                <div class="general-content">
                    <label class="general-label">
                        <input type="checkbox" class="row-checkbox">
                        <span>{{ category.name }}</span>
                    </label>
                </div>
            </td>

            <!-- Three dots under Parent -->
            <td>
                <div class="general-action">
                    <div class="action-menu">
                        <button type="button" class="dots-btn" onclick="toggleMenu(event, this)">
                            ⋮
                        </button>
                        <div class="dropdown-menu">
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" style="text-align: center; padding: 20px;">No categories found.</td>
        </tr>
        {% endfor %}
    </tbody>

</table>


<script>

/* ==========================================
   NAME ↔ GENERAL CHECKBOX
========================================== */

const nameCheckbox =
    document.getElementById("name-checkbox");

const generalCheckbox =
    document.getElementById("general-checkbox");


nameCheckbox.addEventListener("change", function () {

    generalCheckbox.checked = this.checked;

});


generalCheckbox.addEventListener("change", function () {

    nameCheckbox.checked = this.checked;

});


/* ==========================================
   THREE DOTS MENU
========================================== */

function toggleMenu(event, button) {

    event.stopPropagation();

    const menu = button.nextElementSibling;

    document
        .querySelectorAll(".dropdown-menu")
        .forEach(function (item) {

            if (item !== menu) {
                item.classList.remove("show");
            }

        });

    menu.classList.toggle("show");
}


/* Close dropdown */

document.addEventListener("click", function () {

    document
        .querySelectorAll(".dropdown-menu")
        .forEach(function (menu) {

            menu.classList.remove("show");

        });

});

</script>


{% endblock %}