{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="invoice-page">
    {% include "components/erp_list_header.html" %}
<div class="invoice-table-container">
    <table class="invoice-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Code</th>
                <th>Reference</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for journal in journals %}
            <tr>
                <td>
                    <input 
                        type="checkbox"
                        class="row-checkbox"
                    >
                    {{ journal.date }}
                </td>
                <td>{{ journal.code }}</td>
                <td>{{ journal.reference }}</td>
                <td>{{ journal.product }}</td>
                <td>{{ journal.quantity }}</td>
                <td>{{ journal.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="empty">
                    No Data Found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

