{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="invoice-page">
    {% include "components/erp_list_header.html" %}
<div class="invoice-table-container">
    <table class="invoice-table">
        <thead>
            <tr>
                <th>
                    <input 
                        type="checkbox"
                        class="select-checkbox"
                        onclick="event.stopPropagation();">Date</th>
                <th>Entry No</th>
                <th>Reference</th>
                <th>Source Warehouse</th>
                <th>Destination Warehouse</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in transfers %}
            <tr>
                <td>
                    <input 
                        type="checkbox"
                        class="row-checkbox"
                    >
                    {{ transfer.date }}
                </td>
                <td>{{ transfer.entry_no }}</td>
                <td>{{ transfer.reference }}</td>
                <td>{{ transfer.source_warehouse }}</td>
                <td>{{ transfer.destination_warehouse }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="empty">
                    No Data found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}